.encabezado{
    text-align: center;
}
.carpetaUno{
    width: 30%;
    margin-left: 50px;
    margin-top: 50px;
}
.carpetaDos{
    width: 30%;
    margin-left: 670px;
<<<<<<< HEAD
    margin-top: -791px;
=======
    margin-top: -740px;
>>>>>>> a81ddd22e5dabcf22c48880773ef13a2b51b9f9b
}
.carpetaTres{
    width: 30%;
    margin-left: 1300px;
<<<<<<< HEAD
    margin-top: -774px;
=======
    margin-top: -740px;
}

.lobo {
    width: 95%;
    margin-left: 20px;
    margin-top: 20px;
>>>>>>> a81ddd22e5dabcf22c48880773ef13a2b51b9f9b
}
.asno{
    margin-top: -200px;
}
.fox{
    margin-top: -200px;
}
.pulgar{
    margin-top: -200px;
}

.cuerpoCuento{
    background-color: #fefeff;
    width: 70%;
    margin-top: 55px;
    margin-left: 500px;
}
.asnito{
    width: 200px;
}
