.encabezado{
    text-align: center;
}
.carpetaUno{
    width: 30%;
    margin-left: 50px;
    margin-top: 50px;
}
.carpetaDos{
    width: 30%;
    margin-left: 670px;
    margin-top: -790px;
}
.carpetaTres{
    width: 30%;
    margin-left: 1300px;
    margin-top: -765px;
}

.lobo {
    width: 95%;
    margin-left: 20px;
    margin-top: 20px;
}

.lobito {
    width: 75%;
    height: 450px;
    text-align: center;
}
.asno{
    margin-top: -200px;
}
.fox{
    margin-top: -200px;
}
.pulgar{
    margin-top: -200px;
}

.cuerpoCuento{
    background-color: #fefeff;
    width: 70%;
    margin-top: 55px;
    margin-left: 500px;
}
.asnito{
    width: 200px;
}
